body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1764px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1764px;
  height:1040px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1764px;
  height:1040px;
}
#u3 {
  position:absolute;
  left:2px;
  top:512px;
  width:1760px;
  visibility:hidden;
  word-wrap:break-word;
}
